.nav {
	max-width: 626px;
	margin: 0 auto;
	padding-top: 24px;
	padding-bottom: 13px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.nav__item {
	color: #DB2EF2;
	font-size: 14px;
}

